* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
min-height: 100vh;
background: white;
display: flex;
justify-content: center;
align-items: center;
}


.container {
    
   
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

