body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    font-family: arial, sans-serif;
    background-color: #2C2C2C;
    border-radius: 15px;
    max-width: 700px;
    overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    background-color: #2C2C2C;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: #3D3D3D;
}

button {
   width: 120px;
   height: 50px;
   border-radius: 10px;
   border: none;
   background-color: #545454;
   color: white;
   font-size: 1rem;
   font-weight: bold;
   cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}